.bracket-container {
  display: flex;
  justify-content: center;
}
.bracket {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.match {
  padding: 0.5rem;
  background-color: #f3f4f6;
  border-radius: 0.375rem;
  text-align: center;
  color: black;
}
.unit-list {
  width: 100%;
  max-width: 600px;
}
.unit {
  background-color: #f3f4f6;
  padding: 1rem;
  border-radius: 0.375rem;
}
/* App.css */
/* ... (Các style khác) */

.match input[type="number"] {
  color: white; 
}

/* App.css */
.round-label {
  font-weight: bold;
  text-align: center; 
  margin-bottom: 10px; /* Khoảng cách với cặp đấu */
}

.match-container {
  margin-bottom: 20px; /* Khoảng cách giữa các cặp đấu */
}